
.App-header {
  text-align: center;
  background-color: #282c34;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

main {
  font-size: 1em;
  padding: 1.2em 8em;
}

.tips-container {
  /* width: 50vw; */
  border-radius: 1em;
  border: solid lightblue;
  padding: 5px 15px 15px;
  margin-bottom: 12px;
}
span {
  font-weight: 600;
}

